######################################
# Java
######################################

# Compiled class files
*.class

# Logs
*.log

# JVM crash logs
hs_err_pid*
replay_pid*

######################################
# Maven
######################################

# Maven target directory
/target/

# Maven wrapper logs
.mvn/wrapper/maven-wrapper.jar

######################################
# IntelliJ IDEA
######################################

# IntelliJ project files
.idea/
*.iws
*.iml
*.ipr

# IntelliJ run configs
out/

######################################
# macOS
######################################

# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Spotlight index
.Spotlight-V100

# Trash
.Trashes

######################################
# Build Artifacts
######################################

*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

######################################
# Docker
######################################

# Local Docker override files
docker-compose.override.yml

######################################
# Environment & Secrets
######################################

.env
.env.*
*.pem
*.key
*.crt

######################################
# Misc
######################################

# BlueJ
*.ctxt

# J2ME
.mtj.tmp/
