name: Build and Publish

on:
  push:
    branches:
      - dev/release-test
      - main

jobs:

  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Build and publish image
        run: |
          mvn -B clean spring-boot:build-image \
            -DskipTests \
            -Dmaven.test.skip=true \
            -Dspring-boot.build-image.imageName=${{ secrets.DOCKERHUB_USER }}/media-asset-annotator-server:latest \
            -Dspring-boot.build-image.publish=true \
            -Ddocker.publishRegistry.username=${{ secrets.DOCKERHUB_USER }} \
            -Ddocker.publishRegistry.password=${{ secrets.DOCKERHUB_PASSWORD }}
      

